.device LFE5U-85F

.comment Part: LFE5U-85F-6CABGA381

.tile CIB_R10C3:PVT_COUNT2
unknown: F2B0
unknown: F3B0
unknown: F5B0
unknown: F11B0
unknown: F13B0

.tile CIB_R35C1:CIB_LR
arc: S1_V02S0501 S3_V06N0303

.tile CIB_R37C1:CIB_LR
arc: JA0 H02W0501
arc: JA3 N1_V02S0501
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R38C1:CIB_LR
arc: H00L0100 H02W0301
arc: JA0 H00L0100
arc: JA3 V00T0000
arc: V00T0000 H02W0001
enum: CIB.JB3MUX 0
enum: CIB.JB0MUX 0

.tile CIB_R40C1:CIB_LR
arc: JA0 H02W0701
arc: JA3 H02W0701
enum: CIB.JB0MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R41C1:CIB_LR
arc: N3_V06N0303 E1_H01W0100
arc: S1_V02S0501 E1_H01W0100
arc: S3_V06S0303 E1_H01W0100

.tile CIB_R43C1:CIB_LR
arc: JA3 N1_V02S0501
enum: CIB.JB3MUX 0

.tile CIB_R46C1:CIB_LR_S
arc: JA3 V02N0501
enum: CIB.JB3MUX 0

.tile CIB_R47C1:CIB_LR
arc: N1_V02N0501 N3_V06S0303

.tile CIB_R5C125:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R5C1:CIB_PLL1
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R86C1:CIB_LR
arc: S1_V02S0501 H02W0501

.tile CIB_R88C1:CIB_LR
arc: JA3 N1_V02S0501
enum: CIB.JB3MUX 0

.tile CIB_R94C123:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C3:CIB_PLL3
enum: CIB.JA3MUX 0
enum: CIB.JB3MUX 0

.tile CIB_R94C46:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C47:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C48:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C49:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C50:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C51:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C52:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C53:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C54:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C55:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C56:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C57:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile CIB_R94C6:CIB_EFB0
enum: CIB.JB3MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C71:VCIB_DCU0
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C72:VCIB_DCUA
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C73:VCIB_DCUB
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C74:VCIB_DCUC
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C75:VCIB_DCUD
enum: CIB.JA1MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C76:VCIB_DCUF
enum: CIB.JA1MUX 0
enum: CIB.JA3MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC2MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C77:VCIB_DCU3
enum: CIB.JA5MUX 0
enum: CIB.JA7MUX 0
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JC0MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC6MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C78:VCIB_DCU2
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C79:VCIB_DCUG
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C7:CIB_EFB1
enum: CIB.JA3MUX 0
enum: CIB.JA4MUX 0
enum: CIB.JA5MUX 0
enum: CIB.JA6MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB4MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB6MUX 0
enum: CIB.JC3MUX 0
enum: CIB.JC4MUX 0
enum: CIB.JC5MUX 0
enum: CIB.JD3MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD5MUX 0

.tile CIB_R94C80:VCIB_DCUH
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C81:VCIB_DCUI
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JB7MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0
enum: CIB.JD4MUX 0
enum: CIB.JD6MUX 0

.tile CIB_R94C82:VCIB_DCU1
enum: CIB.JB1MUX 0
enum: CIB.JB3MUX 0
enum: CIB.JB5MUX 0
enum: CIB.JD0MUX 0
enum: CIB.JD2MUX 0

.tile MIB_R10C0:BANKREF7
enum: BANK.VCCIO 3V3

.tile MIB_R22C67:CMUX_UL_0
arc: G_DCS0CLK0 G_VPFN0000

.tile MIB_R22C68:CMUX_UR_0
arc: G_DCS0CLK1 G_VPFN0000

.tile MIB_R36C0:PICL1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.PULLMODE NONE
enum: PIOC.DRIVE 4

.tile MIB_R37C0:PICL2
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R38C0:PICL0
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R39C0:PICL1_DQS0
enum: PIOB.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOB.PULLMODE NONE
enum: PIOB.DRIVE 4
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOC.PULLMODE NONE
enum: PIOC.DRIVE 4
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4
enum: PIOA.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOA.PULLMODE NONE
enum: PIOA.DRIVE 4

.tile MIB_R40C0:PICL2_DQS1
enum: PIOC.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R42C0:PICL1_DQS3
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R43C0:PICL2
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R45C0:PICL1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE NONE
enum: PIOD.DRIVE 4

.tile MIB_R46C0:MIB_CIB_LR
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R70C67:CMUX_LL_0
arc: G_DCS1CLK0 G_VPFN0000

.tile MIB_R70C68:CMUX_LR_0
arc: G_DCS1CLK1 G_VPFN0000

.tile MIB_R87C0:PICL1_DQS0
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33
enum: PIOD.PULLMODE UP
enum: PIOD.DRIVE 4

.tile MIB_R88C0:PICL2_DQS1
enum: PIOD.BASE_TYPE OUTPUT_LVCMOS33

.tile MIB_R95C101:PICB0
unknown: F0B1

.tile MIB_R95C102:PICB1
unknown: F0B1

.tile MIB_R95C103:PICB0
unknown: F0B1

.tile MIB_R95C104:PICB1
unknown: F0B1

.tile MIB_R95C105:PICB0
unknown: F0B1

.tile MIB_R95C106:PICB1
unknown: F0B1

.tile MIB_R95C107:PICB0
unknown: F0B1

.tile MIB_R95C108:PICB1
unknown: F0B1

.tile MIB_R95C110:PICB0
unknown: F0B1

.tile MIB_R95C111:PICB1
unknown: F0B1

.tile MIB_R95C112:PICB0
unknown: F0B1

.tile MIB_R95C113:PICB1
unknown: F0B1

.tile MIB_R95C114:PICB0
unknown: F0B1

.tile MIB_R95C115:PICB1
unknown: F0B1

.tile MIB_R95C116:PICB0
unknown: F0B1

.tile MIB_R95C117:PICB1
unknown: F0B1

.tile MIB_R95C119:PICB0
unknown: F0B1

.tile MIB_R95C120:PICB1
unknown: F0B1

.tile MIB_R95C121:PICB0
unknown: F0B1

.tile MIB_R95C122:PICB1
unknown: F0B1

.tile MIB_R95C1:BANKREF6
enum: BANK.VCCIO 3V3

.tile MIB_R95C4:EFB0_PICB0
unknown: F54B1
unknown: F56B1
unknown: F82B1
unknown: F94B1

.tile MIB_R95C96:PICB0
unknown: F0B1

.tile MIB_R95C97:PICB1
unknown: F0B1

.tile MIB_R95C98:PICB0
unknown: F0B1

.tile MIB_R95C99:PICB1
unknown: F0B1

.tile R37C2:PLC2
arc: W1_H02W0501 S1_V02N0501

.tile R38C2:PLC2
arc: W1_H02W0001 V06N0003
arc: W1_H02W0301 V06N0003

.tile R39C2:PLC2
arc: N1_V02N0501 S1_V02N0401

.tile R40C2:PLC2
arc: W1_H02W0701 V01N0101

.tile R41C2:PLC2
arc: N1_V02N0401 S3_V06N0203
arc: F3 F3_SLICE
arc: H01W0100 F3
arc: N1_V01N0101 F3
arc: N3_V06N0003 F3
word: SLICEB.K1.INIT 0000000000000000
enum: SLICEB.MODE LOGIC
enum: SLICEB.CCU2.INJECT1_1 _NONE_
enum: SLICEB.A1MUX 1
enum: SLICEB.B1MUX 1
enum: SLICEB.C1MUX 1
enum: SLICEB.D1MUX 1

.tile R47C2:PLC2
arc: N3_V06N0203 S3_V06N0103

.tile R53C2:PLC2
arc: F1 F1_SLICE
arc: N3_V06N0103 F1
arc: S3_V06S0103 F1
word: SLICEA.K1.INIT 1111111111111111
enum: SLICEA.MODE LOGIC
enum: SLICEA.CCU2.INJECT1_1 _NONE_
enum: SLICEA.A1MUX 1
enum: SLICEA.B1MUX 1
enum: SLICEA.C1MUX 1
enum: SLICEA.D1MUX 1

.tile R59C2:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R65C2:PLC2
arc: S3_V06S0103 N3_V06S0103

.tile R71C2:PLC2
arc: S3_V06S0203 N3_V06S0103

.tile R77C2:PLC2
arc: S3_V06S0303 N3_V06S0203

.tile R83C2:PLC2
arc: S3_V06S0303 N3_V06S0303

.tile R86C2:PLC2
arc: W1_H02W0501 V06S0303

